.header {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.output {
  font-size: 30px;
}

.alert-message {
  font-size: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

.mid-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
}
.values-buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.values-buttons > button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  background-image: linear-gradient(
    to right,
    rgb(140, 254, 140),
    rgb(61, 249, 61)
  );
  color: rgb(255, 255, 255);
}

.state-buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.state-buttons button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;

  background-image: linear-gradient(
    to right,
    rgb(140, 254, 140),
    rgb(61, 249, 61)
  );
  color: rgb(255, 255, 255);
}
